*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-bgColor: #F5F5F5 ;
    --secondary-bgColor: #1D1D20;
    --font-Color: #F02D3D;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bgColor);
  }
  
  header {
    width: 100%;
    background-color: var(--font-Color);
    padding: 10px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  
  .logo {
    color: var(--secondary-bgColor);
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: var(--secondary-bgColor);
    text-decoration: none;
    padding: 8px 16px;
  }
  
  .nav-links li a:hover {
    background-color: var(--primary-bgColor);
    border-radius: 4px;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-bgColor);
  }
  
 
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 47px;
      padding-bottom: 10px;
      right: 0;
      background-color: var(--primary-bgColor);
      width: 100%;
      padding-top: 10px;
    }
    .logo{
      font-size: 16px;
    }
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  

@media only screen and (max-width: 600px) {
   
    
    
  }